<div id="banner-area" class="banner-area" style="background-image:url(images/banner/cortedoblado.jpg)">
  <div class="banner-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="banner-heading">
            <h1 class="banner-title">Corte y doblado</h1>

          </div>
        </div><!-- Col end -->
      </div><!-- Row end -->
    </div><!-- Container end -->
  </div><!-- Banner text end -->
</div><!-- Banner area end -->

<section id="main-container" class="main-container pb-2">
  <div class="container">

    <div class="row text-center">
      <div class="col-12">
        <h2 class="section-title">Corte, doblado y armado de acero para estructuras de hormigón armado</h2>
        <h3 class="section-sub-title">Nuestros productos</h3>
      </div>
    </div>

    <div class="row">

      <div class="col-md-12 text-justify ">

        <p>Fabricamos piezas en acero ADN420S, aplicando procesos industrializados que aseguran precisión dimensional y rigidez estructural.</p>
        <p>Nuestra oferta incluye pilotes, columnas, vigas, tabiques, cabezales y zapatas, diseñados y producidos a medida según las especificaciones técnicas de cada obra civil, industrial o comercial.</p>
        <p>De esta manera garantizamos soluciones eficientes que optimizan el montaje y cumplen con las normativas más exigentes en materia de resistencia y seguridad estructural.</p>
        
      </div><!-- Col end -->
      <div class="col-md-12 mb-4">
        <h3 class="into-sub-title text-center">Beneficios</h3>
      </div>

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4">
            <div class="ts-service-box">
              <span class="ts-service-icon">
                <i class="fas fa-recycle"></i>
              </span>
              <div class="ts-service-box-content">
                <h3 class="service-box-title">CERO DESPERDICIOS</h3>
              </div>
            </div><!-- Service 1 end -->
          </div><!-- col end -->

          <div class="col-md-4">
            <div class="ts-service-box">
              <span class="ts-service-icon">
                <i class="fas fa-dollar-sign"></i>
              </span>
              <div class="ts-service-box-content">
                <h3 class="service-box-title">MENOR COSTO DE OBRA</h3>
              </div>
            </div><!-- Service 2 end -->
          </div><!-- col end -->

          <div class="col-md-4">
            <div class="ts-service-box">
              <span class="ts-service-icon">
                <i class="fas fa-wrench"></i>
              </span>
              <div class="ts-service-box-content">
                <h3 class="service-box-title">MINIMIZACIÓN DE RIEGOS</h3>
              </div>
            </div><!-- Service 2 end -->
          </div><!-- col end -->
        </div><!-- Content row 1 end -->
        <div class="row mb-3">
          <div class="col-md-4">
            <div class="ts-service-box">
              <span class="ts-service-icon">
                <i class="fas fa-layer-group"></i>
              </span>
              <div class="ts-service-box-content">
                <h3 class="service-box-title">ELIMINACIÓN DE ACOPIO</h3>
              </div>
            </div><!-- Service 1 end -->
          </div><!-- col end -->

          <div class="col-md-4">
            <div class="ts-service-box">
              <span class="ts-service-icon">
                <i class="fas fa-flag-checkered"></i>
              </span>
              <div class="ts-service-box-content">
                <h3 class="service-box-title">AHORRO DE TIEMPO</h3>
              </div>
            </div><!-- Service 2 end -->
          </div><!-- col end -->

          <div class="col-md-4">
            <div class="ts-service-box">
              <span class="ts-service-icon">
                <i class="fas fa-crosshairs"></i>
              </span>
              <div class="ts-service-box-content">
                <h3 class="service-box-title">MAYOR CALIDAD Y PRECISIÓN</h3>
              </div>
            </div><!-- Service 2 end -->
          </div><!-- col end -->
        </div><!-- Content row 1 end -->
      </div>



      <div class="col-lg-4 col-md-6 mb-5">
        <div class="ts-service-box d-flex flex-column h-100">
          <div class="ts-service-image-wrapper">
            <img loading="lazy" class="w-100" src="/fotosProductos/pilotes_marelli.jpg" alt="Pilotes">
          </div>
          <div class="d-flex flex-column flex-grow-1">
            <div>
              <h3 class="service-box-title">Pilotes</h3>
              <p class="text-justify">Fabricados mediante máquinas semiautomáticas en un proceso industrial estandarizado, garantizando medidas precisas con amplia variedad de diámetros y longitudes personalizadas según las especificaciones de cada obra.</p>
            </div>

          </div>
          <div class="general-btn mt-auto">
            <a class="btn btn-primary" href="/contact">Solicitar cotización</a>
          </div>
        </div><!-- Service2 end -->
      </div>

      <div class="col-lg-4 col-md-6 mb-5">
        <div class="ts-service-box d-flex flex-column h-100">
          <div class="ts-service-image-wrapper">
            <img loading="lazy" class="w-100" src="/fotosProductos/columnas.jpg" alt="Columnas">
          </div>
          <div class="d-flex flex-column flex-grow-1">
            <div>
              <h3 class="service-box-title">Columnas</h3>
              <p class="text-justify">Fabricadas a medida con acero ADN420S, en diferentes secciones y longitudes, aseguran un montaje preciso para múltiples proyectos de construcción.</p>
            </div>
          </div>
          <div class="general-btn mt-auto">
            <a class="btn btn-primary" href="/contact">Solicitar cotización</a>
          </div>
        </div><!-- Service1 end -->
      </div><!-- Col 1 end -->

      <div class="col-lg-4 col-md-6 mb-5">
        <div class="ts-service-box d-flex flex-column h-100">
          <div class="ts-service-image-wrapper">
            <img loading="lazy" class="w-100" src="/fotosProductos/vigas.jpg" alt="Vigas">
          </div>
          <div class="d-flex flex-column flex-grow-1">
            <div>
              <h3 class="service-box-title">Vigas</h3>
              <p class="text-justify">Utilizamos tecnología de corte y soldadura de precisión para garantizar uniones seguras y medidas exactas.</p>
            </div>
          </div>
          <div class="general-btn mt-auto">
            <a class="btn btn-primary" href="/contact">Solicitar cotización</a>
          </div>
        </div><!-- Service3 end -->
      </div><!-- Col 3 end -->

      <div class="col-lg-4 col-md-6 mb-5">
        <div class="ts-service-box d-flex flex-column h-100">
          <div class="ts-service-image-wrapper">
            <img loading="lazy" class="w-100" src="/fotosProductos/tabiques.jpg" alt="Tabiques">
          </div>
          <div class="d-flex flex-column flex-grow-1">

            <div>
              <h3 class="service-box-title">Tabiques</h3>
              <p class="text-justify">Gracias a procesos industrializados, logramos uniformidad, resistencia y facilidad de instalación, adaptando cada pieza a las dimensiones y requerimientos técnicos de cada proyecto.</p>
            </div>
          </div>
          <div class="general-btn mt-auto">
            <a class="btn btn-primary" href="/contact">Solicitar cotización</a>
          </div>
        </div><!-- Service1 end -->
      </div><!-- Col 4 end -->

      <div class="col-lg-4 col-md-6 mb-5">
        <div class="ts-service-box d-flex flex-column h-100">
          <div class="ts-service-image-wrapper">
            <img loading="lazy" class="w-100" src="/fotosProductos/cabezales.jpg" alt="Cabezales">
          </div>
          <div class="d-flex flex-column flex-grow-1">
            <div>
              <h3 class="service-box-title">Cabezales</h3>
              <p class="text-justify">Fabricamos cabezales de acero a medida, con soldaduras de precisión, cumpliendo con las más exigentes normas de resistencia.</p>
            </div>
          </div>
          <div class="general-btn mt-auto">
            <a class="btn btn-primary" href="/contact">Solicitar cotización</a>
          </div>
        </div><!-- Service2 end -->
      </div><!-- Col 5 end -->

      <div class="col-lg-4 col-md-6 mb-5">
        <div class="ts-service-box d-flex flex-column h-100">
          <div class="ts-service-image-wrapper">
            <img loading="lazy" class="w-100" src="/fotosProductos/zapatas.jpg" alt="Estructuras especiales">
          </div>
          <div class="d-flex flex-column flex-grow-1">
            <div>
              <h3 class="service-box-title">Zapatas</h3>
              <p class="text-justify">Armadura de zapatas para todo tipo de cimentación. Fabricadas a medida, adaptadas a las especificaciones técnicas de cada obra, asegurando una instalación rápida y un rendimiento óptimo.</p>
            </div>
          </div>
          <div class="general-btn mt-auto">
            <a class="btn btn-primary" href="/contact">Solicitar cotización</a>
          </div>
        </div><!-- Service3 end -->
      </div><!-- Col 6 end -->

    </div><!-- Main row end -->
  </div><!-- Conatiner end -->
</section><!-- Main container end -->