<div id="banner-area" class="banner-area" style="background-image:url(images/banner/banner1.jpg)">
  <div class="banner-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="banner-heading">
            <h1 class="banner-title">Nuestras Políticas</h1>

          </div>
        </div><!-- Col end -->
      </div><!-- Row end -->
    </div><!-- Container end -->
  </div><!-- Banner text end -->
</div><!-- Banner area end -->

<section id="main-container" class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h3 class="column-title">Nuestras Políticas</h3>
        <p class="text-justify"><strong>Marelli CONSTRUCTORA S.A.</strong> asume el compromiso de aplicar y mejorar permanentemente un
          Sistema de Gestión Integrado para asegurar la entrega
          de productos y servicios confiables que cumplan con los requisitos y expectativas explicito e implícitos de
          sus clientes.
          Como referencia para promover la calidad y la mejora continua en todos los niveles de la organización se
          deberán considerar los siguientes objetivos de calidad:</p>
        <blockquote>
          <p>Mejorar continuamente nuestra gestión considerando la innovación, el desarrollo e implementación de las
            mejores prácticas y el cumplimiento de los requisitos aplicables.</p>
        </blockquote>
        <blockquote>
          <p>Mantener una política de comunicación clara transparente con nuestros clientes, proveedores y aliados de
            negocios.</p>
        </blockquote>
        <blockquote>
          <p>Promover la capacitación y competencia del personal, poniendo a disposición los recursos necesarios para la
            implementación de programas de capacitación, orientados a reforzar el compromiso y desarrollar las
            competencias de los integrantes de la organización.</p>
        </blockquote>
        <blockquote>
          <p>Asegurar el crecimiento de la organización a partir de la planificación de los negocios, las inversiones y
            el mejoramiento de la eficacia en el desarrollo y utilización de los recursos e infraestructura.</p>
        </blockquote>


        <p class="text-justify">La Dirección asegura la difusión y actualización de esta política y hace extensivo el
          compromiso a todos los integrantes de la organización.</p>
        <p class="text-right"><strong>Leonardo Marelli</strong></p>
        <p class="text-right"><strong>Presidente</strong></p>

      </div><!-- Col end -->

      <div class="col-lg-6 mt-5 mt-lg-0">

        <div id="page-slider" class="page-slider small-bg">

          <div class="item" style="background-image:url(images/slider-pages/mejora.jpg)">
            <div class="container">
              <div class="box-slider-content">
                <div class="box-slider-text">
                  <h2 class="box-slide-title">Mejora continua</h2>
                </div>
              </div>
            </div>
          </div><!-- Item 1 end -->

          <div class="item" style="background-image:url(images/slider-pages/comunicacion.jpg)">
            <div class="container">
              <div class="box-slider-content">
                <div class="box-slider-text">
                  <h2 class="box-slide-title">comunicación</h2>
                </div>
              </div>
            </div>
          </div><!-- Item 1 end -->

          <div class="item" style="background-image:url(images/slider-pages/capacitacion.jpg)">
            <div class="container">
              <div class="box-slider-content">
                <div class="box-slider-text">
                  <h2 class="box-slide-title">Capacitación</h2>
                </div>
              </div>
            </div>
          </div>
          <div class="item" style="background-image:url(images/slider-pages/planificacion.jpg)">
            <div class="container">
              <div class="box-slider-content">
                <div class="box-slider-text">
                  <h2 class="box-slide-title">planificación</h2>
                </div>
              </div>
            </div>
          </div><!-- Item 1 end -->
        </div><!-- Page slider end-->


      </div><!-- Col end -->
    </div><!-- Content row end -->

  </div><!-- Container end -->
</section><!-- Main container end -->



<!--/ Team end -->