<div id="banner-area" class="banner-area" style="background-image:url(images/banner/servicios.jpg)">
  <div class="banner-text">
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
              <div class="banner-heading">
                <h1 class="banner-title">Servicios</h1>
                
              </div>
          </div><!-- Col end -->
        </div><!-- Row end -->
    </div><!-- Container end -->
  </div><!-- Banner text end -->
</div><!-- Banner area end --> 

<section id="main-container" class="main-container pb-2">
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-6 mb-5">
        <div class="ts-service-box">
            <div class="ts-service-image-wrapper">
              <img loading="lazy" class="w-100" src="images/services/service2.jpg" alt="service-image">
            </div>
            <div class="d-flex">
              {{!-- <div class="ts-service-box-img">
                  <img loading="lazy" src="images/icon-image/service-icon6.png" alt="service-icon">
              </div> --}}
              <div {{!-- class="ts-service-info" --}}>
                  <h3 class="service-box-title">Obras de ingeniería</h3>
                  <p class="text-justify">Construcción de silos y celdas de acopio, naves y galpones industriales, edificios, tanques y deslizados, obras de infraestructura.</p>
                  <p class="text-justify">Contamos con amplia experiencia en obras de ingeniería, orientada a asesorar a nuestros clientes adecuando los proyectos a las más convenientes técnicas constructivas.</p>
                  {{!-- <a class="learn-more d-inline-block" href="service-single.html" aria-label="service-details"><i class="fa fa-caret-right"></i> Learn more</a> --}}
              </div>
            </div>
        </div><!-- Service2 end -->
      </div>

      <div class="col-lg-4 col-md-6 mb-5">
        <div class="ts-service-box">
            <div class="ts-service-image-wrapper">
              <img loading="lazy" class="w-100" src="images/services/service1.jpg" alt="service-image">
            </div>
            <div class="d-flex">
              {{!-- <div class="ts-service-box-img">
                  <img loading="lazy" src="images/icon-image/service-icon1.png" alt="service-icon">
              </div> --}}
              <div {{!-- class="ts-service-info" --}}>
                  <h3 class="service-box-title">Obras de arquitectura</h3>
                  <p class="text-justify">Construcción de edificios de subestaciones transformadoras, oficinas, laboratorios, vestuarios y comedores para plantas industriales</p>
                  <p class="text-justify">Sumamos a nuestros recursos y experiencia el cuidado en la calidad de los detalles para la construcción de oficinas y edificios de servicios.</p>
                 {{!--  <a class="learn-more d-inline-block" href="service-single.html" aria-label="service-details"><i class="fa fa-caret-right"></i> Learn more</a> --}}
              </div>
            </div>
        </div><!-- Service1 end -->
      </div><!-- Col 1 end -->

      <div class="col-lg-4 col-md-6 mb-5">
        <div class="ts-service-box">
            <div class="ts-service-image-wrapper">
              <img loading="lazy" class="w-100" src="images/services/service3.jpg" alt="service-image">
            </div>
            <div class="d-flex">
              {{!-- <div class="ts-service-box-img">
                  <img loading="lazy" src="images/icon-image/excavator.png" alt="service-icon">
              </div> --}}
              <div{{!--  class="ts-service-info" --}}>
                  <h3 class="service-box-title">Movimiento de suelo</h3>
                  <p class="text-justify">Limpieza y preparación del terreno, terraplenados, retiro y disposición de excedentes. Relevamientos topográfico y replanteos.</p>
                  <p class="text-justify">Realizamos tareas de limpieza y preparación del terreno, terraplenado con compactación según la especificación requerida, retiro y disposición de excedentes. Relevamientos topográficos y replanteo de cotas.</p>
                  {{!-- <a class="learn-more d-inline-block" href="service-single.html" aria-label="service-details"><i class="fa fa-caret-right"></i> Learn more</a> --}}
              </div>
            </div>
        </div><!-- Service3 end -->
      </div><!-- Col 3 end -->

<div class="col-lg-4 col-md-6 mb-5">
        <div class="ts-service-box">
            <div class="ts-service-image-wrapper">
              <img loading="lazy" class="w-100" src="images/services/service4.jpg" alt="service-image">
            </div>
            <div class="d-flex">
              {{!-- <div class="ts-service-box-img">
                  <img loading="lazy" src="images/icon-image/structure.png" alt="service-icon">
              </div> --}}
              <div{{!--  class="ts-service-info" --}}>
                  <h3 class="service-box-title">Construccion y montaje de estructuras metálicas</h3>
                  <p class="text-justify">Construcción, pre-armado, izaje e instalación de componentes de acero. </p>
                  <p class="text-justify">Amplia experiencia en el proceso de manufactura de componentes de acero: construcción, pre-armado, izaje e instalación de los componentes en posición, para su posterior conexión mediante abulonado o ejecución de soldaduras. </p>
                  {{!-- <a class="learn-more d-inline-block" href="service-single.html" aria-label="service-details"><i class="fa fa-caret-right"></i> Learn more</a> --}}
              </div>
            </div>
        </div><!-- Service1 end -->
      </div><!-- Col 4 end -->

<div class="col-lg-4 col-md-6 mb-5">
        <div class="ts-service-box">
            <div class="ts-service-image-wrapper">
              <img loading="lazy" class="w-100" src="images/services/service5.jpg" alt="service-image">
            </div>
            <div class="d-flex">
              {{!-- <div class="ts-service-box-img">
                  <img loading="lazy" src="images/icon-image/service-icon5.png" alt="service-icon">
              </div> --}}
              <div {{!-- class="ts-service-info" --}}>
                  <h3 class="service-box-title">Hormigón elaborado</h3>
                  <p class="text-justify">Servicio de provisión de hormigón elaborado.</p>
                  <p class="text-justify">Contamos con una planta de hormigón en constante renovación y óptimas condiciones, con una capacidad de producción de XX.XXX m3 por año para abastecer a la demanda interna y a terceros.</p>
                  {{!-- <a class="learn-more d-inline-block" href="service-single.html" aria-label="service-details"><i class="fa fa-caret-right"></i> Learn more</a> --}}
              </div>
            </div>
        </div><!-- Service2 end -->
      </div><!-- Col 5 end -->

      

      

      <div class="col-lg-4 col-md-6 mb-5">
        <div class="ts-service-box">
            <div class="ts-service-image-wrapper">
              <img loading="lazy" class="w-100" src="images/services/service6.jpg" alt="service-image">
            </div>
            <div class="d-flex">
              {{!-- <div class="ts-service-box-img">
                  <img loading="lazy" src="images/icon-image/bulldozer.png" alt="service-icon">
              </div> --}}
              <div {{!-- class="ts-service-info" --}}>
                  <h3 class="service-box-title">Servicio de equipos</h3>
                  <p class="text-justify">Servicio de equipos pesados para construcción.</p>
                  <p class="text-justify">Ponemos a disposición nuestro parque de equipos, especializados, en constante renovación y en óptimas condiciones técnicas, para el movimiento de suelos y para operaciones especiales. </p>
                  {{!-- <a class="learn-more d-inline-block" href="service-single.html" aria-label="service-details"><i class="fa fa-caret-right"></i> Learn more</a> --}}
              </div>
            </div>
        </div><!-- Service3 end -->
      </div><!-- Col 6 end -->

    </div><!-- Main row end -->
  </div><!-- Conatiner end -->
</section><!-- Main container end -->
