<div class="jumbotron">
  <h1 class="display-4">Registración exitosa!</h1>
  <p class="lead">Para completar la activacion de su usuario, por favor, contacte al administrador del sistema.</p>
  <hr class="my-4">
  
  <a class="btn btn-primary btn-lg" href="/" role="button">ir al Inicio</a>
</div>